body {
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  position: fixed;
  height: 130px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 white;
  background-color: #4d639f;
  color: white;
  .info {
    display: flex;
    height: 100%;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    &_logo{
      height: 110px;
      width: 110px;
      &_image{
        height: 110px;
        width: 110px;
      }
    }
    &_name {
      padding-left: 50px;
      font-size: 15px;
      line-height: 110px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 350px;
    line-height: 120px;
    padding-right: 70px;
    list-style: none;
    font-size: 19px;
  }
}

.main {
  background-color: #c9ced1;
  min-height:100vh;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 100px;
  .select {
    width: 550px;
    height: 100px;
    margin: 0 auto;
    margin-top: 70px;
    &_content {
      display: flex;
      justify-content: space-around;
      .select_box {
        .label {
          padding-bottom: 5px;
          font-size: 20px;
        }
        .select_item{
          height: 30px;
          width: 100px;
          padding: 5px 15px;
          margin-top: 5px;
          margin-left: 30px;
          border: 1px solid;
          border-spacing: 0;
          border-radius: 6px;
          background-color: white;
          font-size: 20px;
          text-align: center;
          line-height: 30px;
        }
      }
    }
  }
  .post_total {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    font-size: 20px;
    text-align: right;
  }
  .question_answer {
    overflow: auto;
    height: 470px;
    width: 1400px;
    margin: 0 auto;
    border: 1px solid;
    border-spacing: 0;
    border-radius: 6px;
    background-color: white;
    table {
      margin: 0 0 0 260px;
      font-size: 25px;
      tr {
        th {
          padding-top: 50px;
          padding-right: 250px;
          padding-bottom: 30px;
        }
        td {
          padding-bottom: 30px;
          padding-right: 250px;
        }
      }
    }
  }
}